@model IEnumerable<Libary.Data.Delivery>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер пошти
            </th>
            <th>
                Адресса відділення
            </th>
            <th>
                Клієнт
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostOfficeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostOfficeAdress)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Reader.NickName)
            </td>
            <td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
